body {
    background-image: url("/images/background.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

p {
    font-size: 20px;
    font-weight: bold;
}

.container-information {
    background-color: #FFDDAE;
    border-style: solid;
    font-size: 14px;
}

ul {
    list-style-type: none;
    padding: 0 0 0 10px;
}

.select {
    margin-top: 10px;
    height: 25px;
    font-family: "Montserrat", sans-serif;
}

.button {
    height: 25px;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 580px) {
    p {
        text-align: center;
    }
}

@media (max-width: 400px) {
    .container-information {
        font-size: 14px;
    }

    .container-selectbutton {
        display: flex;
        flex-direction: column;
    }

    .character-img, .question-mark-img {
        height: 200px;
    }

    .button {
        margin-top: 10px;
    }

    .select, .button {
        width: 200px;
    }
}

@media (max-width: 250px) {
    .character-img, .question-mark-img {
        height: 190px;
    }

    .select, .button {
        width: 185px;
    }
}